[phases.setup]
nixPkgs = [
  "nodejs-18_x", 
  "chromium",
  "glibc",
  "glib",
  "nss",
  "atk",
  "at-spi2-atk",
  "cups",
  "dbus",
  "expat",
  "gdk-pixbuf",
  "gtk+3",
  "pango",
  "xorg.libX11",
  "xorg.libxcb",
  "xorg.libXcomposite",
  "xorg.libXcursor",
  "xorg.libXdamage",
  "xorg.libXext",
  "xorg.libXfixes",
  "xorg.libXi",
  "xorg.libXrandr",
  "xorg.libXrender",
  "xorg.libXScrnSaver",
  "xorg.libXtst",
  "alsa-lib",
  "nss",
  "nspr"
]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"

[environment]
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = "true"
PUPPETEER_EXECUTABLE_PATH = "/nix/var/nix/profiles/default/bin/chromium"
